<html>
	<head>
		<title>Todo App</title>
		<style>
			#error{
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="error" class="hidden">Something went wrong!</div>
		<form id="form" method="post" action="/todos/create">
			<input type="text" id="description" name="description" />
			<input type="submit" value="Create" />
		</form>
		<ul id="todos">
			{% for d in data %}
			<li>{{ d.description }}</li>
			{% endfor %}
		</ul>
		<script>
			document.getElementById('form').onsubmit = function(e){
				e.preventDefault();
				fetch('/todos/create',{
					method: 'POST',
					body: JSON.stringify({
						'description': document.getElementById('description').value
					}),
					headers: {
						'Content-Type': 'application/json'
					}
				})
				.then(response => response.json())
				.then(response => {
					console.log('response', jsonResponse);
					liItem = document.createElement('li');
					liItem.innerText = document.getElementById('description').value;
					document.getElementById('todos').appendChild(liItem);
					document.getElementById('error').className = 'hidden';
				})
				.catch(function(){
					document.getElementById('error').className = '';
				})
			}
		</script>
	</body>
</html>